EWDK1703/Program Files/Microsoft Visual Studio 14.0/Xml/Schemas/AppxPhoneManifestSchema2014.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns:pm="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns:m="http://schemas.microsoft.com/appx/2010/manifest"
           >
  <xs:import namespace="http://schemas.microsoft.com/appx/2010/manifest"/>

  <!--Phone Identity-->
  <xs:element name="PhoneIdentity">
    <xs:complexType>
      <xs:attribute name="PhoneProductId" type="m:ST_GUID" use="required"/>
      <xs:attribute name="PhonePublisherId" type="m:ST_GUID" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
