EWDK1703/Program Files/Microsoft SDKs/Windows Phone/v8.2/Tools/Marketplace/SchemaFiles/v8.2/ShellTokens.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) Microsoft Corporation.  All rights reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
       targetNamespace="http://WPTokens"
           xmlns="http://WPTokens">

    <xs:simpleType name="ST_String">
        <xs:annotation>
            <xs:documentation>
                A pure string with restricted length
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base= "xs:string">
            <xs:maxLength value = "256"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ST_ResourceID">
        <xs:annotation>
            <xs:documentation>
                This can either be a pure string, or a resource ID in @dllname,-ID. For the latter, we will patch installation folder for the dllname.
                Please note we will not do the patching for DB pre-provisioning.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="ST_String">
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CT_ResourcePath" >
        <xs:annotation>
            <xs:documentation>
                This can either be a pure string, or a resource ID in @dllname,-ID.
                For the former, we will proceed according to the attributes listed below.
                For the latter, we will patch installation folder for the dllname if the IsRelative is true
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ST_String">
                <xs:attribute name="IsRelative" type ="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            When this true, the INSTALLDIR of this app will be patched to this path.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IsResource" type ="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            If there is no prefix, res:// or file://, a prefix, res:// when IsResource is true, and file:// when it is false, will be added to the path.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CT_FilePath" >
        <xs:simpleContent>
            <xs:extension base="ST_String">
                <xs:attribute name="IsRelative" type ="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            When this true, the INSTALLDIR of this app will be patched to this path.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- TokenTemplate5 is used by Windows Phone 7.x applications -->
    <xs:complexType name="CT_TokenTemplate5">
      <xs:sequence>
        <xs:element name="BackgroundImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Count" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="BackBackgroundImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="BackTitle" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="BackContent" type="ST_ResourceID" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>

    <!-- TokenTemplate6 is used by Windows Phone 7.x applications -->
    <xs:complexType name="CT_TokenTemplate6">
      <xs:sequence>
        <xs:element name="BackgroundImageURI" type="CT_ResourcePath"/>
        <xs:element name="Count" type="ST_ResourceID"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="Animation" type="ST_ResourceID"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateFlip">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="Count" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="BackgroundImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="BackContent" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="BackBackgroundImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="BackTitle" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="LargeBackgroundImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="LargeBackContent" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="LargeBackBackgroundImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="DeviceLockImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="HasLarge" type="ST_ResourceID" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateDeepLink">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="IconImageURI" type="CT_ResourcePath"/>
        <xs:element name="BackgroundImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="Subtitle" type="ST_ResourceID"/>
        <xs:element name="BackgroundColor" type="ST_ResourceID"/>
        <xs:element name="Content" type="ST_ResourceID"/>
        <xs:element name="HasLarge" type="ST_ResourceID"/>
        <xs:element name="LargeBackgroundImageURI" type="CT_ResourcePath"/>
        <xs:element name="LargeContent" type="ST_ResourceID"/>
        <xs:element name="DeviceLockImageURI" type="CT_ResourcePath"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateCycle">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="Photo01ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Photo02ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Photo03ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Photo04ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Photo05ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Photo06ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Photo07ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Photo08ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Photo09ImageURI" type="CT_ResourcePath" minOccurs="0"/>
        <xs:element name="Count" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="HasLarge" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="DeviceLockImageURI" type="CT_ResourcePath" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateIconic">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="Count" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="IconImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="Message" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="BackgroundColor" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="HasLarge" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="LargeContent1" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="LargeContent2" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="LargeContent3" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="DeviceLockImageURI" type="CT_ResourcePath" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateStore">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="Count" type="ST_ResourceID"/>
        <xs:element name="IconImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="BackContent" type="ST_ResourceID"/>
        <xs:element name="BackBackgroundImageURI" type="CT_ResourcePath"/>
        <xs:element name="DeviceLockImageURI" type="CT_ResourcePath"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateGames">
      <xs:sequence>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="AvatarImageURI" type="CT_ResourcePath"/>
        <xs:element name="Count" type="ST_ResourceID"/>
        <xs:element name="LargeContent1" type="ST_ResourceID"/>
        <xs:element name="LargeContent2" type="ST_ResourceID"/>
        <xs:element name="LargeContent3" type="ST_ResourceID"/>
        <xs:element name="Provider" type="ST_ResourceID"/>
        <xs:element name="DeviceLockImageURI" type="CT_ResourcePath"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateCalendar">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="AppointmentDescription" type="ST_ResourceID"/>
        <xs:element name="AppointmentLocation" type="ST_ResourceID"/>
        <xs:element name="ConflictIndicator" type="ST_ResourceID"/>
        <xs:element name="Time" type="ST_ResourceID"/>
        <xs:element name="StartTime" type="ST_ResourceID"/>
        <xs:element name="DeviceLockImageURI" type="CT_ResourcePath"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateMusicVideo">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="BackgroundImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="Provider" type="ST_ResourceID"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplatePeople">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="IconImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="Photo01ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo02ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo03ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo04ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo05ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo06ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo07ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo08ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo09ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo10ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo11ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo12ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo13ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo14ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo15ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo16ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo17ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo18ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo19ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo20ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo21ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo22ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo23ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo24ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo25ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo26ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo27ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo28ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo29ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo30ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo31ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo32ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo33ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo34ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo35ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo36ImageURI" type="CT_ResourcePath"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateContact">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="Count" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="ContactPhotoImageURI" type="CT_ResourcePath"/>
        <xs:element name="Message" type="ST_ResourceID"/>
        <xs:element name="MessagePhotoImageURI" type="CT_ResourcePath"/>
        <xs:element name="MessageTitle" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="NotificationTitle" type="ST_ResourceID" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CT_TileTemplateGroup">
      <xs:sequence>
        <xs:element name="SmallImageURI" type="CT_ResourcePath"/>
        <xs:element name="Title" type="ST_ResourceID"/>
        <xs:element name="Count" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="Photo01ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo02ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo03ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo04ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo05ImageURI" type="CT_ResourcePath"/>
        <xs:element name="Photo06ImageURI" type="CT_ResourcePath"/>
        <xs:element name="BackgroundImageURI" type="CT_ResourcePath"/>
        <xs:element name="LargeBackgroundImageURI" type="CT_ResourcePath"/>
        <xs:element name="Message" type="ST_ResourceID"/>
        <xs:element name="MessagePhotoImageURI" type="CT_ResourcePath"/>
        <xs:element name="MessageTitle" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="NotificationTitle" type="ST_ResourceID" minOccurs="0"/>
        <xs:element name="Sender" type="ST_ResourceID" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>

    <xs:group name="TokenTemplates" id="TokenTemplates">
      <xs:annotation>
        <xs:documentation>Token templates that can be used by 1st parties</xs:documentation>
      </xs:annotation>
      <xs:choice>
        <!-- TokenTemplate5 is used by Windows Phone 7.x applications -->
        <xs:element name="TemplateType5" type="CT_TokenTemplate5"/>
        <!-- TokenTemplate6 is used by Windows Phone 7.x applications -->
        <xs:element name="TemplateType6" type="CT_TokenTemplate6"/>
        <xs:element name="TemplateFlip" type="CT_TileTemplateFlip"/>
        <xs:element name="TemplateDeepLink" type="CT_TileTemplateDeepLink"/>
        <xs:element name="TemplateCycle" type="CT_TileTemplateCycle"/>
        <xs:element name="TemplateIconic" type="CT_TileTemplateIconic"/>
        <xs:element name="TemplateGames" type="CT_TileTemplateGames"/>
        <xs:element name="TemplateCalendar" type="CT_TileTemplateCalendar"/>
        <xs:element name="TemplateMusicVideo" type="CT_TileTemplateMusicVideo"/>
        <xs:element name="TemplatePeople" type="CT_TileTemplatePeople"/>
        <xs:element name="TemplateContact" type="CT_TileTemplateContact"/>
        <xs:element name="TemplateGroup" type="CT_TileTemplateGroup"/>
      </xs:choice>
    </xs:group>

    <xs:group name="OEMThirdPartyTokenTemplates" id="OEMThirdPartyTokenTemplates">
      <xs:annotation>
        <xs:documentation>Token templates consumed by developer tools and app ingestion</xs:documentation>
      </xs:annotation>
      <xs:choice>
        <xs:element name="TemplateType5" type="CT_TokenTemplate5"/>
        <xs:element name="TemplateType6" type="CT_TokenTemplate6"/>
        <xs:element name="TemplateFlip" type="CT_TileTemplateFlip"/>
        <xs:element name="TemplateCycle" type="CT_TileTemplateCycle"/>
        <xs:element name="TemplateIconic" type="CT_TileTemplateIconic"/>
      </xs:choice>
    </xs:group>

</xs:schema>
